Repository TransformCore/zekia-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: build_and_push_s3, build_and_push_ecr

.circleci/config.yml:

version: 2.1
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.3.0

parameters:
  manual_build_and_push_s3:
    type: boolean
    default: false

  manual_build_and_push_ecr:
    type: boolean
    default: false

workflows:
  version: 2
  generate-config:
    unless:
      or:
        [
          << pipeline.parameters.manual_build_and_push_s3 >>,
          << pipeline.parameters.manual_build_and_push_ecr >>,
        ]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue_config.yml
          mapping: |
            packages/client/.* build_and_push_s3 true
            packages/api/.* build_and_push_ecr true

  manual-run:
    when:
      or:
        [
          << pipeline.parameters.manual_build_and_push_s3 >>,
          << pipeline.parameters.manual_build_and_push_ecr >>,
        ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          # building them in parameters as using a file is broken in the orb
          parameters: |
            '{
              "build_and_push_s3": "<< pipeline.parameters.manual_build_and_push_s3 >>",
              "build_and_push_ecr": "<< pipeline.parameters.manual_build_and_push_ecr >>"
            }'

Fix package.json scripts
  packages/api/logs/combined.log
  packages/api/logs/error.log
  packages/api/package.json
Due: build_and_push_ecr

Update Dockerfile for use in CI
  packages/api/Dockerfile
Due: build_and_push_ecr

Use multi-stage Docker build
  packages/api/Dockerfile
Due: build_and_push_ecr

Add package.json to docker image
  packages/api/Dockerfile
Due: build_and_push_ecr

Update API Dockerfile to install api packages
  packages/api/Dockerfile
Due: build_and_push_ecr

Change api port default to 80
  packages/api/src/server.ts
Due: build_and_push_ecr

Don't set default host
  packages/api/src/server.ts
Due: build_and_push_ecr

Remove undeclared variable
  packages/api/src/server.ts
Due: build_and_push_ecr

Add /api/aws-auth-mode route
  packages/api/src/api.ts
Due: build_and_push_ecr

Override package for aws so it works
  packages/api/package.json
Due: build_and_push_ecr

we should use github not npm
  packages/api/package.json
Due: build_and_push_ecr

Add github packages npm registry
  packages/api/Dockerfile
  packages/api/package.json
Due: build_and_push_ecr

try with yarnrc
  packages/api/Dockerfile
Due: build_and_push_ecr

add registry line
  packages/api/Dockerfile
Due: build_and_push_ecr

use personal fork on npm registry
  packages/api/Dockerfile
  packages/api/package.json
Due: build_and_push_ecr

turtles all the way down
  packages/api/package.json
Due: build_and_push_ecr

use chriscoffee/app fork for now
  packages/api/package.json
Due: build_and_push_ecr

More changes to include resolved packages
  packages/api/Dockerfile
  packages/api/src/api.ts
Due: build_and_push_ecr

reference the forked versions
  packages/api/package.json
Due: build_and_push_ecr

bump versions
  packages/api/package.json
Due: build_and_push_ecr

fix package bois
  packages/api/package.json
  yarn.lock
Due: build_and_push_ecr

add in changes for api endpoint
  .circleci/continue_config.yml
  .gitignore
  packages/api/src/server.ts
  shell.nix
Due: build_and_push_ecr

use full https:// url
  .circleci/continue_config.yml
Due: none

Add CORS express middleware, set origin
  packages/api/package.json
  packages/api/src/server.ts
Due: build_and_push_ecr

Add branch filtering to ECR workflow
  .circleci/continue_config.yml
Due: none

s/Cloud Carbon Footprint/Zekia/g
  packages/client/index.js
  packages/client/package.json
  packages/client/public/index.html
  packages/client/src/layout/HeaderBar/HeaderBar.tsx
  packages/client/src/pages/AppLogo/AppLogo.tsx
  packages/client/src/pages/EmissionsMetricsPage/EmissionMetricsHeaderBar.tsx
  packages/client/src/pages/EmissionsMetricsPage/EmissionsSidePanel/EmissionsSidePanel.tsx
  packages/client/src/pages/HomePage/HomePage.tsx
  packages/client/src/pages/RecommendationsPage/RecommondationsHeaderBar.tsx
Due: build_and_push_s3

Remove unused cli package
  packages/cli/.env.template
  packages/cli/.eslintrc.js
  packages/cli/package.json
  packages/cli/src/CSV.ts
  packages/cli/src/CliPrompts.ts
  packages/cli/src/CreateLookupTable/createLookupTable.ts
  packages/cli/src/CreateLookupTable/index.ts
  packages/cli/src/CreateLookupTable/validateInputData.ts
  packages/cli/src/CreateLookupTable/writeToCsv.ts
  packages/cli/src/EmissionsByDayAndServiceTable.ts
  packages/cli/src/EmissionsByDayTable.ts
  packages/cli/src/EmissionsByServiceTable.ts
  packages/cli/src/EmissionsTableUtils.ts
  packages/cli/src/EstimateOnPremiseData/estimateOnPremiseData.ts
  packages/cli/src/EstimateOnPremiseData/index.ts
  packages/cli/src/EstimateOnPremiseData/validateInputData.ts
  packages/cli/src/EstimateOnPremiseData/writeToCsv.ts
  packages/cli/src/GuidedInstall/aws.ts
  packages/cli/src/GuidedInstall/azure.ts
  packages/cli/src/GuidedInstall/common.ts
  packages/cli/src/GuidedInstall/external.ts
  packages/cli/src/GuidedInstall/gcp.ts
  packages/cli/src/GuidedInstall/index.ts
  packages/cli/src/GuidedInstall/runner.ts
  packages/cli/src/cli.ts
  packages/cli/src/index.ts
  packages/cli/tsconfig.json
Due: none

Update S3 sync command
  .circleci/continue_config.yml
Due: none

Add README, LICENSE
  LICENSE
  README.md
Due: none

BAU: Remove old package resolution
  packages/api/package.json
  packages/api/src/api.ts
  yarn.lock
Due: build_and_push_ecr

Bump orbs
  .circleci/continue_config.yml
Due: none

Use node lts
  packages/api/Dockerfile
Due: build_and_push_ecr

BAU: Remove split config
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none
